*{box-sizing:border-box;}
body,html{
    width: 100%;
    font-size: 16px;
}
section{
    width: 100%;
    background:#f5f5f5;
    padding-top: 20px;
}
a{
    text-decoration:none;
    outline: none;
    color: #666666;
    cursor: pointer;
}
.public-top{
    float: right;
    line-height: 30px;
    text-align: center;
}
.public-top .public-top-li{
    float: left;
    width: 90px;
}
.public-top .public-top-li:hover{
    background: #fff;
}
.public-top .public-top-li:hover .top-detail{
    display: inline-block;
    background: #fff;
}
.public-top .top-detail{
    display: none;
    line-height: 20px;
    width: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
    text-align: center;
}


#foot{
    position: relative;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    padding: 0;
    margin-top: 3%;
    background-color: #ffffff;
}
#foot .footTop{
    background-color: #ffffff;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #dcdcdc;
}
#foot .footTop a{
    display: block;
    width: 1230px;
    margin: 0 auto;
}
#foot .footTop img{
    width: 100%;
}
#foot .footmiddle{
    width: 1230px;
    margin: 0 auto;
    overflow: hidden;
}
#foot .footmiddle dl{
    float: left;
    width: 246px;
    padding: 24px 61px;
    font-family: "微软雅黑";
    display: block;
}
#foot .footmiddle dl dt{
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
}
#foot .footmiddle dl dd{
    width: 100%;
    margin: 10px 0px;
}
#foot .footmiddle dl dd a{
    color: #333333;
    font-size: 12px;
    text-align: center;
}
/* footbottom */
.footbottom{
    background-color: #000000;
    font-size: 16px;
    width: 100%;
}
.footbottom .footBottom_content{
    width: 1230px;
    margin: 0 auto;
    padding: 12px 0;
}
.footbottom .footBottom_content p{
    display: block;
    color: #ffffff;
    margin: 16px auto;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;
}
.footbottom .footBottom_content p a{
    color: #ffffff;
    margin: 0 0.2%;
    font-size: 12px;
}
.footbottom .footBottom_content p strong{
    font-size: 12px;
}
.footbottom .footBottom_content p img{
    margin-right: 20px;
}